.bb-work {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $bb-work-gutter: 1.4em;
  $bb-work-image-padding: 0.7em;
  $bb-work-image-width: 4em;
  $bb-work-color: $base-font-color;
  $bb-work-background: lighten($action-color, 15%);
  $bb-work-detail-color: transparentize($bb-work-color, 0.5);
  $bb-work-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($bb-work-color, 0.9);
  display: table;
  padding: 1em;
  width: 100%;

  &:hover,
  &:focus {
    background-color: transparentize($bb-work-color, 0.8);
    background-clip: border-box;
    cursor: pointer;
  }

  .bb-work-image,
  .bb-work-content {
    display: table-cell;
    vertical-align: $bb-work-image-vert-alignment;
  }

  .bb-work-image {
    padding-right: $bb-work-gutter;

    > img {
      background: $bb-work-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $bb-work-image-padding;
      width: $bb-work-image-width;
    }

    .bb-work-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .bb-work-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.bb-work-detail {
      color: $bb-work-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}
